<form action="/answer" method="get">
    <label for="question">Speak to your coach</label><br>
    <input type="text" id="question" name="query" placeholder="Are you ready?"><br>
    <input type="submit" value="Ask!">
  </form>
